{% extends 'administrator/ad_base.html' %}

{% block main %}
        <table class="table table-bordered table-hover">
			<tbody class="table-striped">
				<tr>
					<th>日期</th>
					<th>姓名</th>
					<th>手机号</th>
					<th>住址</th>
                    <th>温度</th>
                    <th>是否隔离</th>
                    <th>是否咳嗽</th>
                    <th>其他</th>
				</tr>
                {% for i in emnum %}
                    {% for j in users %}
                        {% if j.pk == i.DayRepord_id %}
                            <tr>
                                <td>{{ i.DataReport}}</td>
                                <td>{{ j.Name }}</td>
                                <td>{{ j.Phone }}</td>
                                <td>{{ j.UnitNumber }}单元{{ j.FloorNumber }}楼{{ j.HouseNumber }}房间</td>
                                <td>{{ i.Temperature }}</td>
                                <td>{{ i.Isolated }}</td>
                                <td>{{ i.Cough }}</td>
                                <td>{{ i.Other }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
			</tbody>
		</table>
{% endblock %}