<!DOCTYPE html>
{% extends 'home/base.html' %}

{% block main %}
<div class="row text-center vertical-middle-sm">
    <h1>我的信息</h1>
    <div class="row">
        <div class="col-md-6" >
            <div class="row">
                <div class="col-md-4 text-right"><span>用户名:</span></div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>姓名:</span></div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>身份证号:</span></div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>住址:</span></div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>电话:</span></div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>用户类型:</span></div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>注册日期:</span></div>
            </div>
        </div>
    </div>

</div>
{% endblock %}