{% extends 'home/base.html' %}

{% block main %}
  <form class="form-horizontal" action="" method="post">
    <div class="form-group">
        <label class="control-label col-sm-2">日期：</label>
        <div class=" col-sm-6">
          <input class="form-control" type="datetime" name="intodate" value="{{ timess |date:'Y-m-d' }}">
        </div>
    </div>
      <div class="form-group">
        <label class="control-label col-sm-2">姓名：</label>
        <div class=" col-sm-6">
          <input class="form-control" type="text" name="myintoname" placeholder="" value="{{ ginto.Name }}">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">身份证号：</label>
        <div class=" col-sm-6">
          <input class="form-control" type="text" name="intoid" placeholder="" value="{{ ginto.IdCard }}">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">电话：</label>
        <div class=" col-sm-6">
          <input class="form-control" type="text" name="intophone" placeholder="" value="{{ ginto.Phone }}">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">住址：</label>
        <div class=" col-sm-6">
          <select class="form-control" name="adressinto">
                <option value="">{{ ginto.UnitNumber }}单元{{ ginto.FloorNumber }}楼{{ ginto.HouseNumber }}房间</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">是否有重点地区旅行史：</label>
        <div class=" col-sm-6">
          <input class="form-control" type="text" name="inportravel" placeholder="" value="">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">途径地：</label>
        <div class=" col-sm-6">
         <input class="form-control" type="text" name="experience" value="">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">主要停留地点：</label>
        <div class=" col-sm-6">
         <input class="form-control" type="text" name="mainstop" value="">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2"></label>
        <div class="col-sm-6">
            <input type="submit">
        </div>
    </div>
  </form>
{% endblock %}