{% extends 'home/base.html' %}

{% block main %}
  <table class="table table-bordered table-hover">
			<tbody class="table-striped">
				<tr>
					<th>日期</th>
					<th>姓名</th>
					<th>手机号</th>
					<th>住址</th>
                    <th>帮助类型</th>
                    <th>帮助描述</th>
                    <th>负责人</th>
                    <th>确认标志</th>
                    <th>选择</th>
				</tr>
                {% for i in emnum %}
                    <tr>
                        <td>{{ i.Datahelp}}</td>
                        <td>{{ ghelp.Name }}</td>
                        <td>{{ ghelp.Phone }}</td>
                        <td>{{ ghelp.UnitNumber }}单元{{ ghelp.FloorNumber }}楼{{ ghelp.HouseNumber }}房间</td>
                        <td>{{ i.HelpType }}</td>
                        <td>{{ i.Details }}</td>
                        {% if i.HelpSign == None %}
                            <td></td>
                            <td></td>
                            <td>
                            <a href="{% url 'agree' %}?eid={{ i.id }} " style="color: #1acbfc" onclick="return confirm('接受');">接受</a>
{#                            <a href="{% url 'noagree' %}?eid={{ i.id }}" onclick="return confirm('不接受');">不接受</a>#}
                            </td>
                        {% else %}
                            <td>{{ i.ResPerson }}</td>
                            <td>{{ i.HelpSign }}</td>
                            <td>已有人接受</td>
                        {% endif %}
                    </tr>

                {% endfor %}
			</tbody>
		</table>
{% endblock %}