<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="{{ ddd }}"><a href="{% url 'department1' %}">首页<span class="sr-only">(current)</span></a></li>
              <li class="{{ aaa }}"><a href="{% url 'employeeinfo' %}">员工信息</a></li>
              <li class="{{ bbb }}"><a href="{% url 'employee_add' %}">添加员工</a></li>
              <li class="{{ eee }}"><a href="{% url 'emappliinfo' %}">请假确认</a></li>
            <li class="{{ fff }}"><a href="{% url 'historyappli' %}">历史记录</a></li>
            <li class="{{ ggg }}"><a href="{% url 'statistics' %}">生成统计表</a></li>
              <li><a href="{% url 'user_logout' %}"onclick="return confirm('确定退出吗？');">安全退出</a></li>
          </ul>
        </div>